# Python/Django
__pycache__/
*.py[cod]
db.sqlite3
media/
staticfiles/
local_settings.py

# Environments and IDEs
.env
.venv
env/
venv/
.idea/
.vscode/
*.swp

# Logs and databases
*.log
*.sqlite3-journal
institute\.env

# Python packaging
*.egg-info/
dist/
build/

#others
chromedriver-win64.zip
Computer Training Institute — HTMX + Django Component Library.md
training-institute-templates.zip
*.psd
